.alert-light {
  @include font-primary('medium');

  border-color: $color-gray-extralight;
}

.alert .bi.bi-alert-circle-fill {
  color: $color-error;
  height: 1.5em;
  margin-right: 0.5em;
  margin-top: -3px;
  width: 1.5em;
}