#multiselectContainerReact {

  &:hover {

    & > *:first-child {
      border-color: $color-black;
      box-shadow: inset 0 0 4px $color-black;
      outline: none;
    }
  }
}

#multiselectContainerReact > *:first-child {
  border: 1px solid $color-gray-dark;
  border-radius: 8px;
  min-height: auto;
  padding: 0px;
}

#multiselectContainerReact .checkbox {
  background-color: $color-white;
  box-sizing: border-box;
  height: 12px;
  outline: 1px solid $form-multiselect-checkbox-border;
  width: 12px;
  -webkit-appearance: none;

  &:checked {
    background-color: var(--brand-primary);
    border: 1px var(--brand-primary) solid;
    outline-color: var(--brand-primary);
  }
}

#multiselectContainerReact .chip {
  background: transparent;
  color: $form-multiselect-color;
  margin-bottom: 0px;
  margin-right: 0px;
}

#multiselectContainerReact .option {
  background: transparent;
  color: $color-gray-dark;
  font-size: 12px;
  line-height: 14px;
  padding: spacer(1) spacer(1);
}

#multiselectContainerReact .option:hover {
  background: $color-gray-extralight;
  color: $color-gray-dark;
}

#multiselectContainerReact .option:hover .checkbox:checked {
  background-color: var(--brand-primary-active);
  border: 1px var(--brand-primary-active) solid;
  outline-color: var(--brand-primary-active);
}

#multiselectContainerReact .optionContainer {
  border: 1px solid var(--brand-primary);
  border-radius: 8px;
}

#multiselectContainerReact .searchBox {
  font-size: 12px;
  line-height: 14px;
  margin-top: 0px;
  padding: spacer(1.5) spacer(1);
}
